{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}ثبت آیتم - پیمانکاری - بنایی (دیوارچینی) | {% endblock title %}
{% block description %}{% endblock description %}
{% block page_title %}ثبت آیتم - پیمانکاری - بنایی (دیوارچینی){% endblock page_title %}
{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'buildings:projects:project_list' building.id %}">لیست در‌خواست‌ها</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'buildings:projects:project_detail' building.id project.id %}">
      درخواست {{ project.id }}
    </a>
  </li>
  <li class="breadcrumb-item active">ثبت آیتم (پیمانکاری - بنایی (دیوارچینی))</li>
{% endblock breadcrumbs %}

{% block content %}
  {% if project.status == "draft" %}
    {% if project.service_type != "contracting_wall" %}
      <div class="alert alert-danger">
        نوع آیتم‌ها ثبت شده برای این درخواست {{ project.get_service_type_display }} است
        و امکان اضافه کردن آیتم‌ها از نوع دیگر به این درخواست وجود ندارد. لطفا درخواست جدید ثبت
        کنید.
      </div>
    {% else %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-check me-1"></i>
          <span>ثبت آیتم</span>
        </button>
      </form>
    {% endif %}
  {% else %}
    <div class="alert alert-danger">
      امکان اضافه کردن سرویس جدید برای درخواست ثبت شده در رسته‌ی
      {{ project.get_service_type_display }} وجود ندارد.
      لطفا درخواست جدید ثبت کنید.
    </div>
  {% endif %}
{% endblock content %}

{% block after_content %}
  {% if services %}
    <div class="row g-3">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h2>جزئیات آیتم‌ها ثبت شده</h2>
      </div>
      {% include "projects/contracting/_wall_detail.html" %}
      {% if project.status == "draft" and project.building.employer == request.user %}
        <a href="{% url 'buildings:projects:project_finalize' building.id project.id %}"
           class="btn btn-success"><i class="fas fa-check me-1"></i><span>تایید و ثبت
        نهایی</span></a>
      {% endif %}
    </div>
  {% else %}
    <div class="alert alert-warning text-center m-0">
      در حال حاضر هیچ آیتمی برای درخواست ثبت نشده است.
    </div>
  {% endif %}
{% endblock after_content %}

{% block modal %}{% endblock modal %}

{% block inline_javascript %}{% endblock inline_javascript %}
