{% load static %}
<div class="col-12">
  <div class="card card-body p-5">
    <div class="row p-3 rounded bg-primary text-light">
      <div class="col-md-9 d-flex align-items-center fs-5">
        <p class="m-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است.</p>
      </div>
      <div class="col-md-3">
        <div class="d-grid">
          <a href="{% url "buildings:building_new" %}" class="btn btn-light">
            ثبت پروژه</a>
        </div>
      </div>
    </div>
  </div>
</div>
