{% load static %}
<div class="col-12">
  <div class="card card-body">
    <div class="row flex-lg-row-reverse align-items-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <img src="{% static 'images/hero.jpg' %}"
          class="d-block mx-lg-auto img-fluid rounded shadow-sm" alt="Bootstrap Themes"
          loading="lazy" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">پی وی کار
        </h1>
        <p class="lead">سامانه «پی وی کار» برای اولین بار در ایران امکاناتی فراهم
          آورده تا کارفرمایان(سازندگان) با مشخص کردن جزئیات درخواست خود به صورت
          کاملاً مستقیم پیشنهاد قیمت برای درخواست مربوطه را از سوی ارائه
          دهنده(مهندس­ها، فروشندگان مصالح، پیمانکاران و نمایندگان بیمه­) دریافت
          نمایند.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary px-4 me-md-2">
            پیمانکار هستم</button>
          <button type="button" class="btn btn-secondary px-4">
            به دنبال پروژه هستم</button>
        </div>
      </div>
    </div>
  </div>
</div>
