{% for service in project.contractingnailingservice_set.all %}
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <span class="fw-bold">شناسه:</span>
        <span>{{ service.id }}</span>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="fw-bold">سطح کل دیواره گود:</span>
            <span>{{ service.total_area }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">عمق گود:</span>
            <span>{{ service.depth }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">فواصل افقی نیل‌ها:</span>
            <span>{{ service.horizontal_distance }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">فواصل عمودی نیل‌ها:</span>
            <span>{{ service.vertical_distance }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">شاتکریت:</span>
            <span>{{ service.shotcrete }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">طول بلندترین نیل:</span>
            <span>{{ service.highest_length }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">طول کوتاه‌ترین نیل:</span>
            <span>{{ service.lowest_length }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">سطح آب:</span>
            <span>{{ service.water_level }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">جنس خاک:</span>
            <span>{{ service.get_soil_type_display }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">لوگ گمانه:</span>
            <a class="btn btn-sm btn-info" href="{{ service.log.url }}">
              <i class="fas fa-download me-1"></i>
              <span>دانلود لوگ</span>
            </a>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">تاریخ تقریبی شروع پروژه:</span>
            <span>{{ service.start }}</span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">تصویر محل:</span>
            <a href="{{ service.area_image.url }}" class="btn btn-sm btn-info">
              <i class="fas fa-download me-1"></i>
              <span>دانلود تصویر</span>
            </a>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">نقشه‌ی اجرایی:</span>
            <a href="{{ service.plan.url }}" class="btn btn-sm btn-info">
              <i class="fas fa-download me-1"></i>
              <span>دانلود نقشه</span>
            </a>
          </li>
          {% if service.extra_info %}
            <li class="list-group-item">
              <span class="fw-bold">توضیحات اضافی:</span>
              <p class="m-0">{{ service.extra_info }}</p>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="card-footer">
        <a href="" class="btn btn-danger-light">
          <i class="fas fa-trash me-1"></i>
          <span>حذف آیتم</span>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
