{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}خرید اعتبار | {% endblock title %}
{% block description %}{% endblock description %}
{% block page_title %}خرید اعتبار{% endblock page_title %}
{% block breadcrumbs %}
<li class="breadcrumb-item">
  <a href="{% url 'home' %}">صفحه‌ی اصلی</a>
</li>
<li class="breadcrumb-item active">خرید اعتبار</li>
{% endblock breadcrumbs %}

{% block content %}
<h2 class="card-title">خرید اعتبار</h2>
<form method="post">
  {% csrf_token %}
  <div class="input-group mb-3">
    <input name="credit" type="number" class="form-control"
      aria-label="مقدار (به تومان)">
    <span class="input-group-text">تومان</span>
  </div>
  <button class="btn btn-primary">
    <i class="fas fa-check me-1"></i>
    <span>تایید و ثبت</span>
  </button>
</form>
{% endblock content %}

{% block after_content %}
<div class="alert alert-info m-0">
  پس از ثبت و تایید فرم به صفحه‌ی جزئیات پلن منتقل خواهید شد.
</div>
{% endblock after_content %}

{% block modal %}{% endblock modal %}

{% block inline_javascript %}{% endblock inline_javascript %}
