{% load static %}
<!-- Hero Start -->
<section class="bg-half-260 d-table w-100" style="background: url('{% static "website/img/bg.jpg" %}') center center;">
  <div class="bg-overlay" style="opacity: 0.65;"></div>
  <div class="container">
    <div class="row mt-5 mt-md-4">
      <div class="col-12">
        <div class="title-heading">
          <h4 class="display-4 fw-bold text-white title-dark">پی وی کار</h4>
          <h5 class="display-5 mb-4 fw-bold text-white">بولتن مشاغل ساختمانی</h5>
          <p class="para-desc text-light">سامانه <strong class="text-primary fw-bold">پی وی کار</strong> برای اولین
            بار در ایران امکاناتی فراهم آورده تا
            کارفرمایان (سازندگان) با مشخص کردن جزئیات درخواست خود به صورت کاملاً مستقیم پیشنهاد قیمت برای درخواست مربوطه
            را از سوی ارائه دهنده(مهندس‌ها، فروشندگان مصالح، پیمانکاران و نمایندگان بیمه) دریافت نمایند</p>
          <div class="mt-4 pt-2">
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">امتحان کنید!</a>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
