{% load static %}
<div class="top-header">
  <div class="header-bar d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <a href="#" class="logo-icon me-3">
        <img src="{% static 'images/logo-icon.png' %}" height="30" class="small" alt="">
        <span class="big">
          <img src="{% static 'images/logo-dark.png' %}" height="24" class="logo-light-mode" alt="">
          <img src="{% static 'images/logo-light.png' %}" height="24" class="logo-dark-mode" alt="">
        </span>
      </a>
      <a id="close-sidebar" class="btn btn-icon btn-soft-light" href="javascript:void(0)">
        <i class="fas fa-bars"></i>
      </a>
    </div>

    <ul class="list-unstyled mb-0">
      <li class="list-inline-item mb-0 ms-1">
        <div class="dropdown dropdown-primary">
          <button type="button" class="btn btn-soft-light dropdown-toggle p-0" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {% if user.profile.avatar.avatar %}
              <img src="{{ user.profile.avatar.avatar.url }}" class="avatar avatar-ex-small rounded" alt="">
            {% endif %}
          </button>
          <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow border-0 mt-3 py-3"
               style="min-width: 200px;">
            <a class="dropdown-item d-flex align-items-center text-dark pb-3"
               href="{% url 'dashboard:clients:profile_general_detail' %}">
              {% if user.profile.avatar.avatar %}
                <img src="{{ user.profile.avatar.avatar.url }}" class="avatar avatar-md-sm rounded-circle border shadow"
                     alt="">
              {% endif %}
              <div class="flex-1 ms-2">
                <span class="d-block">
                  {% if request.user.profile.first_name or request.user.profile.last_name %}
                    {{ request.user.profile.first_name }} {{ request.user.profile.last_name }}
                  {% endif %}
                </span>
                {% if request.user.profile.occupation %}
                  <small class="text-muted">{{ request.user.profile.occupation }}</small>
                {% endif %}
              </div>
            </a>
            <a class="dropdown-item text-dark" href="{% url 'dashboard:dashboard' %}">
              <span class="mb-0 d-inline-block">
                <i class="fas fa-dashboard me-1"></i>
                <span>داشبورد</span>
              </span>
            </a>
            <a class="dropdown-item text-dark" href="{% url 'dashboard:clients:profile_general_detail' %}">
              <span class="mb-0 d-inline-block">
                <i class="fas fa-user me-1"></i>
                <span>پروفایل</span>
              </span>
            </a>
            <div class="dropdown-divider border-top"></div>
            <a class="dropdown-item text-dark" href="{% url 'account_logout' %}">
              <span class="mb-0 d-inline-block">
                <i class="fas fa-sign-out me-1"></i>
                <span>خروج</span>
              </span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
