{% load static %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-py-60">
          <div class="row">
            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
              <a href="#" class="logo-footer">
                <img src="{% static 'website/img/logo.svg' %}" height="60" alt="">
              </a>
              <p class="mt-4">پی وی کار به عنوان اولین و تنها بولتن مشاغل و کسب و کارهای مرتبط با حوزه‌ی ساختمان فعالیت
                خود را به طور رسمی از خرداد ۱۴۰۱ آغاز کرد.</p>
              <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                <li class="list-inline-item">
                  <a href="javascript:void(0)" class="rounded">
                    <i data-feather="facebook" class="fea icon-sm fea-social"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" class="rounded">
                    <i data-feather="instagram" class="fea icon-sm fea-social"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" class="rounded">
                    <i data-feather="twitter" class="fea icon-sm fea-social"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" class="rounded">
                    <i data-feather="linkedin" class="fea icon-sm fea-social"></i>
                  </a>
                </li>
              </ul><!--end icon-->
            </div><!--end col-->

            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <h5 class="footer-head">پی وی کار</h5>
              <ul class="list-unstyled footer-list mt-4">
                <li>
                  <a href="javascript:void(0)" class="text-foot">
                    <i class="uil uil-angle-left-b me-1"></i>
                    <span>درباره ما</span>
                  </a>
                </li>
              </ul>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <h5 class="footer-head">لینک‌های مفید</h5>
              <ul class="list-unstyled footer-list mt-4">
                <li>
                  <a href="javascript:void(0)" class="text-foot">
                    <i class="uil uil-angle-left-b me-1"></i>
                    <span>درباره ما</span>
                  </a>
                </li>
              </ul>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <h5 class="footer-head">خبرنامه</h5>
              <p class="mt-4">برای اطلاع از آخرین اخبار و رویدادهای پی وی کار خبرنامه ما را دنبال کنید.</p>
              <form>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="foot-subscribe mb-3">
                      <label class="form-label">آدرس ایمیل خودت رو بنویس <span class="text-danger">*</span></label>
                      <div class="form-icon position-relative">
                        <i data-feather="mail" class="fea icon-sm icons"></i>
                        <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded"
                               placeholder="ایمیل شما : " required>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="d-grid">
                      <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary"
                             value="عضویت">
                    </div>
                  </div>
                </div>
              </form>
            </div><!--end col-->
          </div><!--end row-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="footer-py-30 footer-bar">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="text-sm-start">
            <p class="mb-0">© ۱۴۰۱ پی وی کار. <br>حقوق تمام مطالب و محتوای وبسایت محفوظ است. طراحی و توسعه توسط: <a
              href="https://ipek.dev">ایپک</a>
            </p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </div>
</footer><!--end footer-->
