{% if user.subscription %}
<div class="bg-info p-3 rounded mb-3 text-light">
  <h2 class="text-light fs-5">پکیج نامحدود:</h2>
  {% if user.subscription.unlimited_tehran %}
  <ul class="m-0">
    <li>شما دارای اشتراک نامحدود تهران و سایر استان‌ها هستید</li>
    <li><span>تاریخ انقضا:</span>
      <span>{{ user.subscription.expiration_date|date:"Y/m/d" }}</span></li>
  </ul>
  {% elif user.subscription.unlimited and not user.subscription.unlimited_tehran %}
  <ul>
    <li>شما دارای اشتراک نامحدود همه‌ی استان‌ها به جز تهران هستید.</li>
    <li>هزینه‌ی ارسال درخواست در استان تهران از اعتبار عادی کسر خواهد شد.</li>
  </ul>
  <div class="d-flex justify-content-between">
    <span>تاریخ انقضا:</span>
    <span>{{ user.subscription.expiration_date|date:"Y/m/d" }}</span>
  </div>
  {% elif not user.subscription.unlimited and not user.subscription.unlimited_tehran %}
  <div class="bg-white bg-opacity-10 p-3 rounded m-0">شما پکیج نامحدود فعالی ندارید.
  </div>
  {% endif %}
</div>
<div class="bg-info text-light p-3 rounded">
  <h2 class="text-light fs-5">اعتبار عادی:</h2>
  {% if user.subscription.credit == 0 or user.subscription.credit == None %}
  <div class="bg-white bg-opacity-10 p-3 rounded m-0">اعتبار عادی شما به پایان رسیده
    است. لطفا نسبت به شارژ حساب خود اقدام فرمایید.</div>
  {% else %}
  <p class="m-0">{{ user.subscription.credit }} تومان</p>
  {% endif %}
</div>
{% else %}
<div class="bg-white bg-opacity-10 p-3 rounded m-0">عضویت شما توسط سیستم لغو شده است.
  اگر فکر می‌کنید که اشتباهی رخ داده است با پشتیبانی تماس بگیرید.</div>
{% endif %}
