{% extends "accounts/base.html" %}
{% load crispy_forms_filters static %}

{% block title_block %}ثبت نام{% endblock title_block %}

{% block body_block %}

<div class="card card-body">
  <h3 class="card-title text-center">ثبت نام</h3>
  <form class="form" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form|crispy }}

    <div class="row g-3">
      <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">ثبت نام</button>
      </div>
      <div class="col-12">
        <div class="alert alert-info m-0">
          <span>قبلا ثبت نام کرده‌اید؟</span>
          <a class="alert-link" href="{% url 'accounts:login' %}">ورود</a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock body_block %}
