{% extends "website/base.html" %}

{% block title %}
  درباره ما
{% endblock %}

{% block page_title %}
  درباره ما
{% endblock %}

{% block content %}
  <p> اگر سازنده ساختمان هستید حتماً تاکنون به دنبال استعلام کمترین قیمت جهت انجام خدمات مهندسی، خرید مصالح پیمانکاری و
    بیمه ساختمانی بوده اید.</p>
  <p>
    اگر هم مهندس، پیمانکار، ارائه دهنده بیمه و یا مصالح ساختمانی هستید حتماً به دنبال پروژه های جدید بوده اید و به
    احتمال
    زیاد تجربه انجام پروژه به صورت غیرمستقیم و از طریق واسطه(دلال) و پرداخت حق واسطه‌گری(پورسانت) را داشته ‌اید.
  </p>
  <p>
    سامانه «پی وی کار» برای اولین بار در ایران امکاناتی فراهم آورده تا کارفرمایان(سازندگان) با مشخص کردن جزئیات درخواست
    خود به صورت کاملاً مستقیم پیشنهاد قیمت برای درخواست مربوطه را از سوی ارائه دهنده(مهندس‌ها، فروشندگان مصالح،
    پیمانکاران
    و نمایندگان بیمه‌) دریافت نمایند. در این حالت علاوه بر قیمت، شماره تماس و مشخصات شخصی و حرفه‌ای، رزومه،
    گواهینامه‌ها،
    سوابق و سایر اطلاعات نیز قابل مشاهده است و کارفرما قادر به برقراری تماس مستقیم(برخلاف سایر سامانه های مشابه که از
    تماس
    مستقیم کارفرما و پیمانکار جلوگیری می کنند) با پیشنهاد دهندگان مورد نظر می باشد.
  </p>
  <p>
    «پی وی کار» در حقیقت سامانه مناقصه عمومی برای کارهای ساختمانی شخصی و غیر دولتی می‌باشد.
  </p>
  <p>
    «پی وی کار» تمامی پروژه‌های ساختمانی را از حالت انحصاری و مافیایی خارج کرده و فرصت برابر برای تمام ارائه دهندگان را
    مهیا کرده و از تحمیل هزینه دلالی به کارفرمایان و ارائه‌ دهندگان جلوگیری می‌کند.
  </p>

  <h2>اگر کارفرما (سازنده) هستید...</h2>
  <p>
    فقط کافی است با مشخص نمودن شهر و استان پروژه و موقعیت حدودی آن، درخواست یکی از گروه‌های مهندسی، مصالح ساختمانی،
    پیمانکاری و یا بیمه را انتخاب نموده و سپس با انتخاب یکی از زیرمجموعه ها اطلاعات مربوط به درخواست خود از جمله متراژ و
    غیره را وارد و ثبت نمایید.
  </p>
  <p>
    پس از ثبت، درخواست شما به ارائه دهندگان خدمات مربوطه ارسال می‌گردد و پس از بررسی توسط ایشان، هر یک قیمت پیشنهادی خود
    را اعلام می کنند. شما میتوانید تمام اطلاعات آنها را مشاهده فرموده و در صورت تمایل تماس حاصل نمایید. «پی وی کار»
    شماره تلفن شما را به هیچ وجه در اختیار ارائه دهندگان خدمات قرار نمی‌دهد و برقراری تماس فقط از سوی شما خواهد بود.
  </p>
  <p>
    توجه فرمایید ثبت نام شما در سامانه و ارسال 5 درخواست اول رایگان می باشد ولی برای ارسال پیشنهاد بیشتر قیمت بر حسب
    تعرفه مشخص شده در این لینک خواهد بود. مبلغ پس از دریافت پیشنهاد از حساب شما کسر خواهد شد.
  </p>

  <h2>اگر ارائه دهنده (مهندس، فروشنده، پیمانکار و یا نماینده بیمه) هستید...</h2>
  <p>
    پس از مراجعه به پروفایل کاربری خود و انتخاب رسته و ریز فعالیت‌ها و استان‌هایی را که قادر به پوشش هستید، سایر مشخصات
    خود از جمله رزومه، سابقه فعالیت، گواهینامه‌ها و غیره را در سامانه ثبت نمایید. در ادامه پروژه های ثبت شده توسط
    کارفرمایان در پروفایل شما نمایش داده خواهد شد و شما قادر خواهید بود با بررسی تمام جوانب و شرایط، پروژه قیمت پیشنهادی
    خود را ارائه فرمایید. قیمت های ارائه شده توسط شما به صورت کاملاً محرمانه و شخصی به کارفرمای مربوطه ارسال خواهد شد و
    سایر ارائه دهندگان از قیمت های شما به هیچ عنوان اطلاع نخواهند یافت.
  </p>
  <p>
    کارفرمایان پس از بررسی قیمت و سایر اطلاعات شما با شماره تماس اعلامی شما تماس خواهند گرفت.
  </p>
  <p><strong class="text-danger">نکته مهم:</strong>
    شما قادر خواهید بود سایر استان‌ها و فعالیت‌های ثبت شده را که به عنوان حوزه تخصصی خود انتخاب ننموده‌اید
    مشاهده فرمایید.
  </p>
  <p>
    توجه شود سامانه <strong class="text-primary">پی وی کار</strong> هیچ مبلغی به عنوان درصد، پورسانت حق واسطه گری و غیره
    دریافت نمیکند و تمام مراودات کاری و مالی شما با کارفرما به صورت مستقیم و بدون دخالت پی وی کار خواهد بود.
  </p>
  <p><strong class="text-primary">پی وی کار</strong> فقط و فقط معرف شما و ارائه دهنده قیمت شما به کارفرمایان هست.
  </p>
  <p>
    توجه فرمایید ثبت نام شما در سامانه و ارسال 10 پیشنهاد قیمت اول رایگان می باشد ولی برای ارسال پیشنهاد بیشتر قیمت بر
    حسب تعرفه مشخص شده در صفحه‌ی تعرفه‌ها خواهد بود.
  </p>

{% endblock %}
