{% extends "website/base.html" %}

{% block title %}
  شرایط استفاده
{% endblock %}

{% block page_title %}
  شرایط استفاده
{% endblock %}

{% block content %}
  <ul class="list-group list-group-flush mb-5">
    <li class="list-group-item">شماره تلفن شما کارفرمایان به هیچ وجه در اختیار سایرین قرار نمی‌گیرد.</li>
    <li class="list-group-item">قیمت های ارائه شده توسط ارائه دهنده‌گان، به صورت کاملاً محرمانه و شخصی به کارفرمای
      مربوطه ارسال خواهد شد و سایر
      ارائه دهندگان از قیمت ها به هیچ عنوان اطلاع نخواهند یافت.
    </li>
    <li class="list-group-item">توجه شود سامانه «پی وی کار» هیچ مبلغی به عنوان درصد، پورسانت حق واسطه گری و غیره دریافت
      نمیکند و تمام مراودات کاری
      و مالی ارئه دهندگان با کارفرمایان به صورت مستقیم و بدون دخالت پی وی کار خواهد بود.
    </li>
    <li class="list-group-item"> پی وی کار مسئولیتی در قبال مراودات مالی، صحت قراردادها، اطلاعات ارائه‌دهندگان و
      پروژه‌های ثبت شده و نحوه انجام
      کارها ندارد.
    </li>
  </ul>
  <div class="alert alert-warning fs-5">استفاده کنندگان پی وی کار تأیید میکنند که دردرخواست ها و پیشنهادات، توضیحاتی که
    درج می‌کنند شامل مواردی که در ادامه آورده میشوند نخواهد بود و همچنین دارای سن بالای ۱۸ سال هستند.
  </div>
  <ul class="list-group list-group-flush list-group-numbered mb-5">
    <li class="list-group-item">مغایرت با قوانین جاری جمهوری اسلامی ایران و عرف جامعه</li>
    <li class="list-group-item">ناقض حریم شخصی افراد</li>
    <li class="list-group-item">هر گونه توهین به ادیان رسمی کشور، آداب، رسوم، قومیتها، لهجهها و گویشهای مختلف</li>
    <li class="list-group-item">استفاده ابزاری از تصاویر اشخاص در آگهی، درج بیمورد عکس صورت اشخاص یا استفاده از عکس
      کودکان برای معرفی کالا و
      خدماتی که مخاطب آن کودکان نیستند
    </li>
    <li class="list-group-item">هر نوع خبرپراکنی سیاسی، اجتماعی یا مذهبی که جنبه تجاری نداشته باشد</li>
    <li class="list-group-item">برنامهها و روشهای عبور از فیلترینگ، VPN و خدمات یا کالاهای مربوط به نصب آنتن، راه اندازی
      ماهواره یا اینترنت
      ماهوارهای
    </li>
    <li class="list-group-item">ابزار یا آموزشهای نفوذ، خرابکاری، شکستن قفل، هک و کرک</li>
    <li class="list-group-item">فروش برنامههای نرمافزاری یا کتابهای فاقد مجوز قانونی برای انتشار و سایر موارد ناقض قانون
      حمایت حقوق مؤلفان و
      مصنفان و هنرمندان
    </li>
    <li class="list-group-item">هر گونه اجاره و فروش فیلم یا موسیقی</li>
    <li class="list-group-item">شبکههای هرمی و فعالیتهای غیرقانونی و غیرمجاز اقتصادی مشابه</li>
    <li class="list-group-item">هر نوع مسابقه، قرعهکشی و بختآزمایی (با جایزه یا بدون جایزه)</li>
    <li class="list-group-item">آگهی انجام پروژههای دانشجویی و دانش آموزی</li>
    <li class="list-group-item">هر گونه کالایی که موجب رواج خشونت و آسیب رساندن به دیگران میشود، مانند: سلاحهای گرم و
      سرد، مواد محترقه و امثال
      آن
    </li>
    <li class="list-group-item">کالا و خدمات مرتبط با مواد مخدر، سیگار یا ترک اعتیاد</li>
    <li class="list-group-item">فروش دستگاه فلزیاب، گنجیاب، حفاری غیرمجاز یا لوازم و تجهیزات مرتبط با آن</li>
    <li class="list-group-item">خدمات مرتبط با همسریابی، دوستیابی، مشاوره خانوادگی</li>
    <li class="list-group-item">درخواست و پیشنهادهای محرمیت، صیغه و ازدواج</li>
    <li class="list-group-item">خدمات، دفاتر و شرکتهای مرتبط با لیزینگ</li>
    <li class="list-group-item">فروش فاکتور و پیش فاکتور برای اخذ وام، حذف سهم بیمه کارفرما و مشابه آن</li>
    <li class="list-group-item">هرگونه خدمات مرتبط با گرینکارت یا اقامت کشورها و مسافرت و اخذ ویزا به کشورهایی که منع
      قانونی برای ورود به آنها
      وجود دارد
    </li>
    <li class="list-group-item">خرید و فروش فیش حج عمره و تمتع</li>
    <li class="list-group-item">خرید و فروش اعضای بدن، مانند: «کلیه»</li>
    <li class="list-group-item">درخواست کمکهای نقدی یا پیشپرداخت برای معاملههای از راه دور</li>
    <li class="list-group-item">درج شماره حساب در متن آگهی</li>
    <li class="list-group-item">خدمات و کالاهایی که شائبه کلاهبرداری در آن مشاهده شود</li>
    <li class="list-group-item">معرفی سایت، کالا یا خدماتی که به هر شکلی قصد رقابت با پی وی کار را دارند</li>
    <li class="list-group-item">خرید و فروش حیوانات، پرندگان و خزندگان وحشی و گوشتخوار</li>
    <li class="list-group-item">خرید و فروش مواد غذایی، تقویتی و مکملهای ورزشی</li>
    <li class="list-group-item">نصب برنامههای جانبی موبایل و ویندوز</li>
    <li class="list-group-item">پنل پیامک انبوه</li>
    <li class="list-group-item">درج درخواست و پیشنهادهای دورههای آموزشی</li>
    <li class="list-group-item">درج درخواست و پیشنهاد خودروهای غیر قابل خرید و فروش در ایران</li>
    <li class="list-group-item">درج مکرر درخواست‌های یکسان حتی با عناوین متفاوت در یک روز</li>
    <li class="list-group-item">ارسال مجدد یک درخواست و پیشنهاد که از زمان حذف آن توسط کاربر، بیش از ۲۴ ساعت سپری نشده
      باشد
    </li>
    <li class="list-group-item">قرار ملاقات غیرتجاری به صورت آنلاین</li>
    <li class="list-group-item">وجود جملات نادرست از نظر املائی یا نگارشی و غیره</li>
    <li class="list-group-item">تصاویر مغایر با شرایط عرف جامعه و یا قوانین جمهوری اسلامی</li>
    <li class="list-group-item">درخواست و پیشنهادهای فروش سیم کارت</li>
    <li class="list-group-item">هرگونه اشاره به شبکههای اجتماعی مانند تلگرام و یا اینستاگرام در بخش توضیحات به جز در بخش
      اطلاعات ارائه
      دهندگان
    </li>
    <li class="list-group-item">هرگونه سوءاستفاده از شماره تلفن همراه یا نشانی پست الکترونیکی دیگران پیگرد قانونی دارد و
      آگهی دهنده مسئول آن
      تلقی شده و پی وی کار در این مورد هیچ گونه مسئولیتی ندارد
    </li>
  </ul>
  <h2 class="fw-bold text-info">شرایط مشاهده و استفاده از درخواست‌ و پیشنهادهای ثبت شده</h2>
  <ul class="list-group list-group-flush mb-5">
    <li class="list-group-item">هرگونه استفاده از پی وی کار به معنی پذیرفتن شرایط مندرج در این سایت است. پی وی کار هیچ
      توافقی با کاربران خارج از این شرایط ندارد. شرایط زیر مربوط به کسانی است که به هر شکلی از درخواست‌های ثبت شده پی وی
      کار استفاده می‌کنند.
    </li>
    <li class="list-group-item"> تلاش پی وی کار، نشر درخواست و پیشنهاد با اطلاعات صحیح و درست است اما نمی‌تواند صحت آنها
      را تضمین نماید و هیچ‌گونه تعهد یا مسئولیتی در قبال آنها برعهده نمی‌گیرد.
    </li>
    <li class="list-group-item"> مسئولیت استفاده از درخواست و پیشنهادهای این سایت بر عهده شماست و پی وی کار هیچ تعهدى در
      قبال خسارات مستقیم، اتفاقى، تبعى، غیرمستقیم و کیفرى، ناشى از دسترسى و استفاده شما از این سایت ندارد.
    </li>
    <li class="list-group-item"> پی وی کار هیچ قرارداد، تعهدنامه یا سندی را با ارائه دهندگان حقیقی یا حقوقی منعقد
      نمی‌کند. پی وی کار صرفاً مطالب درج شده توسط کاربران را نمایش می‌دهد.
    </li>
    <li class="list-group-item"> مسئولیت استفاده از هرگونه متن، پیام، توضیح، اطلاعات، عکس، مشخصات تماس و موارد مشابه که
      به پی وی کار ارسال می‌شود یا در آن قرار می‌گیرد، شامل بازتولید، افشاء، مخابره، نشر و پخش آن بر عهده فرستنده
      اطلاعات است.
    </li>
    <li class="list-group-item"> پی وی کار مختار است هر گونه پیام، درخواست یا عکسی که به این سایت ارسال می‌کنید یا هر
      حساب کاربری و اطلاعات دیگری که مربوط به شما یا ایجاد شده توسط شما باشد را هر زمانی و به هر شکلی که ضروری بداند حذف
      نماید.
    </li>
    <li class="list-group-item"> مسئولیت هر لینک، مطلب و ادعایی مربوط به پی وی کار که به واسطه‌ اشخاص حقیقی و حقوقی دیگر
      در سایت، بلاگ یا شبکه‌های اجتماعی و باقی رسانه‌ها منتشر می‌شود، با خود این افراد است و پی وی کار مسئولیتی در قبال
      آنها ندارد.
    </li>
    <li class="list-group-item"> درخواست و پیشنهادهای پی وی کار با هزینه‌ گردانندگان سایت جمع‌آوری، نظارت، مرتب‌سازی و
      توزیع شده است. استفاده کننده از پی وی کار حق کپی‌برداری از اطلاعات درخواست و پیشنهاددهنده، نوشتار و تصاویر درخواست
      و پیشنهادهای ارسال شده به پی وی کار را چه به شکل دستی و یا خودکار نخواهد داشت و انجام این موارد پیگرد قانونی دارد.
    </li>
    <li class="list-group-item"> قوانین جمهوری اسلامی ایران بر تعبیر، تفسیر، اجرا و تأثیر این توافق‌نامه حاکم خواهند
      بود.
    </li>
  </ul>
  <h3 class="text-success">امن قرارداد ببندید</h3>
  <ul class="list-group list-group-flush mb-5">
    <li class="list-group-item">با کسانی قرارداد ببندید که امکان ملاقات حضوری با آنها وجود داشته باشد.</li>
    <li class="list-group-item">پیشنه حرفه‌ای، مدارک و پواهینامه‌ها، کارهای انجام شده قبلی، محل فعالیت ارائه دهندگان و
      درصورت امکان کارفرمایان پیشین آنها را بررسی فرمایید.
    </li>
    <li class="list-group-item">هرگز پیش از قرارداد هزینه‌ای پرداخت نکنید.</li>
    <li class="list-group-item">اگر ارائه دهنده اطلاعات شخصی یا اطلاعات حساب بانکی خود را ارائه کرد،‌ دلیل کافی برای
      اعتماد شما به ایشان نیست؛ ممکن است اطلاعات شخص دیگری مورد سوء‌استفاده قرار گرفته باشد.
    </li>
  </ul>
  <h3 class="text-warning">بیشتر احتیاط کنید وقتی…</h3>
  <ul class="list-group list-group-flush mb-5">
    <li class="list-group-item">قیمت و شرایط ارائه شده بیش از حد عالی به نظر می‌رسد.</li>
    <li class="list-group-item">ارائه دهنده یا کارفرمایی که بی‌دلیل و به طرزی مشکوک اطلاعات حساب بانکی شما را می‌پرسد.
    </li>
    <li class="list-group-item">می‌خواهید مبلغ قابل توجهی به کسی که نمی‌شناسید، بپردازید. سعی کنید در محلی امن مانند
      پایگاه‌های پلیس یا شعب بانک‌ها قرار بگذارید.
    </li>
  </ul>
  <h3 class="text-danger">به خاطر داشته باشید:</h3>
  <p>در صورت ایجاد مزاحمت برای شما، می‌توانید با مراجعه به سایت پلیس فتا،‌ از اطلاعات تماس پلیس فتای محل سکونت خود آگاه
    شده و موضوع را از آن طریق پیگیری کنید.</p>
{% endblock %}
