<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.role == "contractor" %}
        {% include "includes/header/_contractor_menu.html" %}
        {% endif %}
        {% if user.role == "employer" %}
        {% include "includes/header/_employer_menu.html" %}
        {% endif %}
      </div>
    </div>
  </div>
</nav>
